---
import Layout from "../../layouts/Layout.astro";
import Heading1 from "../../components/common/heading1.astro";
import { collections } from "../../content.config";
import Link from "../../components/common/Link.astro";

const collectionNames = Object.keys(collections);
---

<Layout>
  <Heading1 textContent={"guides"} />
  <div class="flex items-center gap-4 my-8">
    {
      collectionNames?.map((cname) => (
        <div class="border-2 rounded-xl border-blue-950 min-h-32 min-w-40 content-center text-center bg-gradient-to-t dark:from-blue-900">
          <Link textContent={cname} url={`/${cname}`} style={"none"} />
        </div>
      ))
    }
  </div>
</Layout>
