---
import Layout from "../../layouts/Layout.astro";
import Heading1 from "../../components/common/heading1.astro";
import { collections } from "../../content.config";
import Link from "../../components/common/Link.astro";
import { Image } from "astro:assets";
const collectionNames = Object.keys(collections);
---

<Layout>
  <Heading1 textContent={"guides"} />
  <div class="flex items-center flex-wrap gap-4 my-8">
    {
      collectionNames?.map((cname) => (
        <div class="rounded-xl content-center text-center relative h-48 w-80 ">
          {/* <Image
            src={`${cname}`}
            alt={"food collection"}
            class={
              "absolute inset-0 h-full w-full object-cover aspect-video gruop-hover:scale-105 transition-transform duration-150"
            }
            height={500}
            width={400}
          /> */}
          <div class="absolute group inset-0 z-10 bg-gray-800/50 size-full grid place-items-center">
            <Link
              textContent={cname}
              url={`/${cname}`}
              style={"none"}
              className=""
            />
          </div>
        </div>
      ))
    }
  </div>
</Layout>
