---
import Layout from "../../layouts/Layout.astro";
import Heading1 from "../../components/common/heading1.astro";
import { collections } from "../../content.config";
import Link from "../../components/common/Link.astro";

const collectionNames = Object.keys(collections);
---

<Layout>
  <Heading1 textContent={"guides"} />
  <div class="flex items-center flex-wrap gap-4 my-8">
    {
      collectionNames?.map((cname) => (
        <div class="border-1 rounded-xl border-blue-950 dark:hover:bg-gray-800/70 transition-colors duration-100 size-20 content-center text-center">
          <Link textContent={cname} url={`/${cname}`} style={"none"} />
        </div>
      ))
    }
  </div>
</Layout>
