---
import { Image } from "astro:assets";

// image imports
import htmlLogo from "../../assets/html.png";
import cssLogo from "../../assets/css.png";
import jsLogo from "../../assets/js.png";
import reactLogo from "../../assets/react.png";
import nextLogo from "../../assets/nextjs.png";
import tailwindLogo from "../../assets/tailwind.png";

const images = [
  { logoSrc: htmlLogo, alt: "html logo" },
  { logoSrc: cssLogo, alt: "html logo" },
  { logoSrc: jsLogo, alt: "html logo" },
  { logoSrc: reactLogo, alt: "html logo" },
  { logoSrc: nextLogo, alt: "html logo" },
  { logoSrc: tailwindLogo, alt: "html logo" },
];
---

<section class="min-h-[50vh] flex items-center justify-start relative pb-20" id="expertise">
  <h2 class="sticky-heading">my expertise</h2>
  <div class="w-full h-full md:grid md:grid-cols-2 lg:grid-cols-3 md:space-y-0">
    {
      images.map((image) => (
        <div class="flex justify-center items-center flex-col gap-6 py-6 even:bg-gray-100/10">
          <Image
            src={image.logoSrc}
            alt={image.alt}
            class={"size-36 object-contain invert-0 dark:invert"}
          />
        </div>
      ))
    }
  </div>
</section>
