---
interface Props {
  length: number;
  currentUrl: string;
  currentPage: number;
  firstUrl: string;
  prevUrl: string;
  nextUrl: string;
  lastUrl: string;
}

const { length, currentUrl, currentPage, firstUrl, prevUrl, nextUrl, lastUrl } =
  Astro.props;

  const paginationList=Array.from({length})
---

<nav class=""></nav>
