---
import type { CollectionEntry } from "astro:content";

// components and layouts
import BlogCard from "./BlogCard.astro";

interface Props {
  posts: CollectionEntry<"webdev" | "cooking" | "travel">[];
  linkTo: string;
}

const { posts, linkTo } = Astro.props;
---

<div class="grid grid-cols-3 gap-6 max-md:grid-cols-1 my-8">
  {
    !posts && (
      <p class="dark:text-gray-200 text-gray-600 text-sm first-letter:uppercase">
        no post available
      </p>
    )
  }
  {
    posts.length > 0 &&
      posts.map((post) => <BlogCard pageFor={linkTo} post={post} />)
  }
</div>
