---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import PostList from "../../components/PostList.astro";
import { getCollection } from "astro:content";
import Heading1 from "../../components/common/heading1.astro";
import Pagination from "../../components/Pagination.astro";
import Link from "../../components/common/Link.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const cookingBlogs = await getCollection("cooking");

  return paginate(cookingBlogs, { pageSize: 2 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
console.log(page);
---

<Layout>
  <Heading1 textContent={"cooking blogs"} />
  <PostList posts={page.data} linkTo="cooking" />
  <!-- <Pagination firstUrl={page.} /> -->
  <div class="flex items-center gap-2">
    {
      page.url.prev != undefined && (
        <Link textContent="previous" style={"none"} url={page.url.prev} />
      )
    }
    {
      page.url.next != undefined && (
        <Link textContent="next" style={"filled"} url={page.url.next} />
      )
    }
  </div>
</Layout>
