---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Heading1 from "../../components/common/heading1.astro";
import PostList from "../../components/PostList.astro";
import Link from "../../components/common/Link.astro";
export const getStaticPaths = (async ({ paginate }) => {
  const travelposts = await getCollection("travel");

  return paginate(travelposts, { pageSize: 3 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout>
  <Heading1 textContent={"travel blogs"} />
  <PostList posts={page.data} linkTo="travel" />
  <div class="flex items-center gap-2">
    {
      page.url.prev != undefined && (
        <Link textContent="previous" style={"none"} url={page.url.prev} />
      )
    }
    {
      page.url.next != undefined && (
        <Link textContent="next" style={"filled"} url={page.url.next} />
      )
    }
  </div>
</Layout>
