---
import "../styles/global.css";
import Head from "../components/common/head.astro";
import Navbar from "../components/common/navbar.astro";
---

<!doctype html>
<html lang="en">
  <Head />
  <body>
    <Navbar />
    <main
      class="min-h-screen dark:bg-stone-900 bg-stone-200/50 px-8 md:px-[9%] py-4"
    >
      <slot />
    </main>
  </body>
</html>
